@model AspNetErrorModel
@{
    Page.Title = "エラー";

    string ErrorStr = "エラー: " + (Model.ErrorInfo?.Message ?? "不明なエラーが発生しました。");
}

<div class="box">
    <div class="content">
        <article class="message is-warning">
            <div class="message-header">
                <p><i class="fas fa-exclamation-triangle"></i>&nbsp;@ErrorStr</p>
            </div>
            <div class="message-body">
                <p>以下のエラーが発生しました。<b><a href="/">トップページ</a></b> から再度お試しください。</p>
                <p><b>エラー内容:</b><BR>@ErrorStr</p>
                <p><b>エラー発生日時:</b><BR>@DateTimeOffset.Now._ToDtStr(withMSsecs: true)</p>
                <p><b>エラーが発生した処理:</b><br>@Model.ErrorPath</p>
                <p><b>リスクエスト ID:</b><br>@Model.RequestId</p>
                <p><b>Web サーバー名:</b><BR>@Model.WebServerName</p>
                <p><b>Web クライアント名:</b><BR>@Model.WebClientName</p>
            </div>
        </article>
    </div>
</div>
