@model ThinWebClientModelIndex
@{
    Page.Title = "";
}

<h2 class="title is-4">@Page.FullTitle</h2>

<div class="box">
    <div class="content">
        <form method="post" action="/">

            <div class="field">
                <label class="label" id="top_pcid"><stb>THINWEB_PCID</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link is-medium" type="text" placeholder="@Page.Stb["THINWEB_PCID_BACKGROUND_TEXT"]" style="font-weight: bold" asp-for="CurrentProfile.Pcid" onchange="Main.Index_UpdateControl(document);" onInput="Main.Index_UpdateControl(document);" onKeyUp="Main.Index_UpdateControl(document);" onkeypress="Main.Index_UpdateControl(document);" onkeydown="Main.Index_UpdateControl(document);">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-laptop"></i>
                    </span>
                </div>
            </div>

            @if (Model.HistoryItems.Count >= 2)
            {
                <div class="field">
                    <label class="label"><stb>THINWEB_HISTORY</stb></label>
                    <div class="select">
                        <select asp-for="SelectedHistory" asp-items="Model.HistoryItems" class="input is-info" onChange="Main.Index_OnSelectedHistoryChange(document);"></select>
                    </div>
                </div>
            }

            <div class="field">
                <div class="control">
                    <button class="button is-link" style="font-weight: bold" type="submit" id="ok1" onclick="document.getElementById('ok1').disabled = true; document.getElementById('img_loading').style.visibility = 'visible'; this.form.submit();"><i class="fas fa-laptop-house"></i>&nbsp;<stb>THINWEB_CONNECT_BUTTON</stb></button>&nbsp;<img src="~/images/loading.gif" width="40" height="40" style="visibility: hidden" id="img_loading">&nbsp;
                    @if (Model.HistoryItems.Count >= 2)
                    {
                        <button class="button is-info is-light" style="font-weight: bold" type="button" onclick="Main.Index_DeleteAllHistory(document);"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;<stb>THINWEB_ERASE_HISTORY</stb></button><text>&nbsp;&nbsp;&nbsp;</text>
                    }
                    <a class="button is-danger is-light" style="font-weight: bold" href="#wol"><i class="fas fa-power-off"></i>&nbsp;<stb>THINWEB_WOL_SIMPLE</stb></a>&nbsp;&nbsp;
                </div>
            </div>

            <div class="notification is-warning is-light" id="ie_warning" hidden>
                <i class="fab fa-internet-explorer"></i> <stb>THINWEB_IE_WARNING</stb>
            </div>

            <p>&nbsp;</p>

            <img src="~/images/top.jpg" width="900" height="244" />

            <hr>

            <div class="field">
                <label class="label"><stb>THINWEB_OPTIONS</stb></label>
            </div>

            <p><stb>THINWEB_OPTIONS_TEXT</stb></p>

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableAudio" id="EnableAudio"><label for="EnableAudio"><strong><stb>THINWEB_ENABLEAUDIO</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableWallPaper" id="EnableWallPaper"><label for="EnableWallPaper"><strong><stb>THINWEB_ENABLEWALLPAPER</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableTheming" id="EnableTheming"><label for="EnableTheming"><strong><stb>THINWEB_ENABLETHEMING</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableFontSmoothing" id="EnableFontSmoothing"><label for="EnableFontSmoothing"><strong><stb>THINWEB_ENABLEFONTSMOOTHING</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableFullWindowDrag" id="EnableFullWindowDrag"><label for="EnableFullWindowDrag"><strong><stb>THINWEB_ENABLEFULLWINDOWDRAG</stb></strong></label>
                            <br><i class="fas fa-exclamation-triangle"></i> <stb>THINWEB_ENABLEFULLWINDOWDRAG_WARNING</stb>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableDesktopComposition" id="EnableDesktopComposition"><label for="EnableDesktopComposition"><strong><stb>THINWEB_ENABLEDESKTOPCOMPOSITION</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableAlwaysWebp" id="EnableAlwaysWebp" onchange="Main.Index_UpdateControl(document);"><label for="EnableAlwaysWebp"><strong><stb>THINWEB_ENABLEALWAYSWEBP</stb></strong></label>
                            <br><i class="fas fa-exclamation-triangle"></i> <stb>THINWEB_ENABLEALWAYSWEBP_WARNING</stb>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableMenuAnimations" id="EnableMenuAnimations"><label for="EnableMenuAnimations"><strong><stb>THINWEB_ENABLEMENUANIMATIONS</stb></strong></label>
                            <br><i class="fas fa-exclamation-triangle"></i> <stb>THINWEB_ENABLEMENUANIMATIONS_WARNING</stb>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ShowLocalMouseCursor" id="ShowLocalMouseCursor"><label for="ShowLocalMouseCursor"><strong><stb>THINWEB_SHOWLOCALMOUSECURSOR</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ShowRemoteMouseCursor" id="ShowRemoteMouseCursor"><label for="ShowRemoteMouseCursor"><strong><stb>THINWEB_SHOWREMOTEMOUSECURSOR</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenAutoFullScreen" id="ScreenAutoFullScreen" onchange="Main.Index_UpdateControl(document);"><label for="ScreenAutoFullScreen"><strong><stb>THINWEB_SCREENAUTOFULLSCREEN</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ShowHelpOnFullScreenUnset" id="ShowHelpOnFullScreenUnset" onchange="Main.Index_UpdateControl(document);"><label for="ShowHelpOnFullScreenUnset"><strong><stb>THINWEB_SHOWHELPONFULLSCREENUNSET</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ShowOnceMsg" id="ShowOnceMsg" onchange="Main.Index_UpdateControl(document);"><label for="ShowOnceMsg"><strong><stb>THINWEB_SHOWONCEMSG</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenAutoResize" id="ScreenAutoResize" onchange="Main.Index_UpdateControl(document);"><label for="ScreenAutoResize"><strong><stb>THINWEB_SCREENAUTORESIZE</stb></strong></label>
                            <br><i class="fas fa-exclamation-triangle"></i> <stb>THINWEB_SCREENAUTORESIZE_WARNING</stb>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenAutoResizeRemoteFit" id="ScreenAutoResizeRemoteFit" onchange="Main.Index_UpdateControl(document);"><label for="ScreenAutoResizeRemoteFit"><strong><stb>THINWEB_SCREENAUTORESIZEREMOTEFIT</stb></strong></label>
                            <br><i class="fas fa-exclamation-triangle"></i> <stb>THINWEB_SCREENAUTORESIZEREMOTEFIT_WARNING</stb>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenGetAutoSize" id="ScreenGetAutoSize" onchange="Main.Index_UpdateControl(document);"><label for="ScreenGetAutoSize"><strong><stb>THINWEB_SCREENGETAUTOSIZE</stb></strong></label>
                        </p>
                    </div>
                </div>
            </div>



            <p> </p>

            <div class="field">
                <label class="label"><stb>THINWEB_RESOLUTION_WIDTH</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="@Page.Stb["THINWEB_RESOLUTION_WIDTH_BACK"]" asp-for="CurrentProfile.Preference.ScreenWidth">
                    <span class="icon is-small is-left">
                        <i class="fas fa-text-width"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label"><stb>THINWEB_RESOLUTION_HEIGHT</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="@Page.Stb["THINWEB_RESOLUTION_HEIGHT_BACK"]" asp-for="CurrentProfile.Preference.ScreenHeight">
                    <span class="icon is-small is-left">
                        <i class="fas fa-text-height"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label"><stb>THINWEB_KEYBOARDLAYOUTSTR</stb></label>
                <div class="control">
                    <select asp-for="CurrentProfile.Preference.KeyboardLayoutStr" asp-items="Model.KeyboardLayoutItems" class="input is-info"></select>
                </div>
            </div>

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Win_ShiftWin" id="Win_ShiftWin"><label for="Win_ShiftWin"><strong><stb>THINWEB_WIN_SHIFTWIN</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Win_Ctrl2Alt2" id="Win_Ctrl2Alt2"><label for="Win_Ctrl2Alt2"><strong><stb>THINWEB_WIN_CTRL2ALT2</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Tab_AltShift" id="Tab_AltShift"><label for="Tab_AltShift"><strong><stb>THINWEB_TAB_ALTSHIFT</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlAltEnd" id="Cad_CtrlAltEnd"><label for="Cad_CtrlAltEnd"><strong><stb>THINWEB_CAD_CTRLALTEND</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlAltHome" id="Cad_CtrlAltHome"><label for="Cad_CtrlAltHome"><strong><stb>THINWEB_CAD_CTRLALTHOME</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlAltBackspace" id="Cad_CtrlAltBackspace"><label for="Cad_CtrlAltBackspace"><strong><stb>THINWEB_CAD_CTRLALTBACKSPACE</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlShiftBackspace" id="Cad_CtrlShiftBackspace"><label for="Cad_CtrlShiftBackspace"><strong><stb>THINWEB_CAD_CTRLSHIFTBACKSPACE</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_LeftCtrlSpace" id="Ime_LeftCtrlSpace"><label for="Ime_LeftCtrlSpace"><strong><stb>THINWEB_IME_LEFTCTRLSPACE</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_LeftShiftSpace" id="Ime_LeftShiftSpace"><label for="Ime_LeftShiftSpace"><strong><stb>THINWEB_IME_LEFTSHIFTSPACE</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_OptionSpace" id="Ime_OptionSpace"><label for="Ime_OptionSpace"><strong><stb>THINWEB_IME_OPTIONSPACE</stb></strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_ZenHan" id="Ime_ZenHan"><label for="Ime_ZenHan"><strong><stb>THINWEB_IME_ZENHAN</stb></strong></label>
                        </p>
                    </div>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <label class="label"><stb>THINWEB_WINLOGON_USERNAME</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="@Page.Stb["THINWEB_WINLOGON_USERNAME_BACK"]" asp-for="CurrentProfile.Preference.Username">
                    <span class="icon is-small is-left">
                        <i class="far fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label"><stb>THINWEB_WINLOGON_PASSWORD</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="password" placeholder="@Page.Stb["THINWEB_WINLOGON_PASSWORD_BACK"]" asp-for="CurrentProfile.Preference.Password" autocomplete="new-password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label"><stb>THINWEB_WINLOGON_DOMAIN</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="@Page.Stb["THINWEB_WINLOGON_DOMAIN_BACK"]" asp-for="CurrentProfile.Preference.Domain">
                    <span class="icon is-small is-left">
                        <i class="fas fa-server"></i>
                    </span>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <label class="label"><stb>THINWEB_MACADDRESS</stb></label>
                <p><stb>THINWEB_MACADDRESS_WARNING</stb></p>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="@Page.Stb["THINWEB_MACADDRESS_BACK"]" asp-for="CurrentProfile.Preference.MacAddress">
                    <span class="icon is-small is-left">
                        <i class="fas fa-server"></i>
                    </span>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <div class="control">
                    <button class="button is-link" style="font-weight: bold" type="submit" id="ok2" onclick="document.getElementById('ok2').disabled = true; document.getElementById('img_loading2').style.visibility = 'visible'; this.form.submit();"><i class="fas fa-laptop-house"></i>&nbsp;<stb>THINWEB_CONNECT_BUTTON</stb></button>&nbsp;<img src="~/images/loading.gif" width="40" height="40" style="visibility: hidden" id="img_loading2">
                </div>
            </div>

            <p>　</p>

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableDebug" id="EnableDebug"><label for="EnableDebug"><stb>THINWEB_ENABLEDEBUG</stb></label>
                        </p>
                    </div>
                </div>
            </div>

            <p>　</p>

            <hr />

            <h2 class="title is-4" id="wol"><i class="fas fa-plug"></i>&nbsp;<stb>THINWEB_WOL</stb></h2>

            <img src="~/images/wol.jpg" width="660" height="226" />

            <p>　</p>

            <p><strong><stb>THINWEB_WOL2</stb></strong></p>

            <p><stb>THINWEB_WOL3</stb></p>

            <div class="field">
                <label class="label"><stb>THINWEB_WOL4</stb></label>
                <p><stb>THINWEB_WOL5</stb></p>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link is-medium" type="text" id="WoLTargetPcid" style="font-weight: bold">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-laptop"></i>
                    </span>
                </div>
                <p>　</p>
                <label class="label"><stb>THINWEB_WOL6</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link is-medium" type="text" placeholder="@Page.Stb["THINWEB_WOL7"]" style="font-weight: bold" asp-for="CurrentProfile.Preference.WoLTriggerPcid" id="CurrentProfile_Preference_WoLTriggerPcid" onchange="Main.Index_UpdateControl(document);" onInput="Main.Index_UpdateControl(document);" onKeyUp="Main.Index_UpdateControl(document);" onkeypress="Main.Index_UpdateControl(document);" onkeydown="Main.Index_UpdateControl(document);">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-plug"></i>
                    </span>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <div class="control">
                    <button class="button is-danger" style="font-weight: bold" type="submit" id="button_wol" name="button_wol" value="1"><i class="fas fa-power-off"></i>&nbsp;<stb>THINWEB_WOL_BUTTON</stb></button>&nbsp;&nbsp;
                </div>
            </div>

            <input type="hidden" id="IsWebpSupported" name="IsWebpSupported" value="false">

        </form>
    </div>
</div>

@section Scripts {
    <script>
        Main.Index_Load(document, @Model.FocusToPcid._ToBoolStrLower(),
            "@Secure.JavaScriptEasyStrEncrypt(Model.CurrentProfile?.Preference?.Password ?? "", "easyEncryptStaticKey")",
            "@Model.WolErrorMessage._JavaScriptSafeStrEncode()",
            "@Model.WolOkMessage._JavaScriptSafeStrEncode()",
            @Model.JumpToWol._ToBoolStrLower()
        );
    </script>
}

