@model ThinWebClientModelIndex
@{
    Page.Title = "";
}

<h2 class="title is-4">@Page.FullTitle</h2>

<div class="box">
    <div class="content">
        <form method="post" action="/">

            <div class="field">
                <label class="label" id="top_pcid">接続先コンピュータ ID:</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link is-medium" type="text" placeholder="接続先のコンピュータ ID を指定してください" style="font-weight: bold" asp-for="CurrentProfile.Pcid" onchange="Main.Index_UpdateControl(document);" onInput="Main.Index_UpdateControl(document);" onKeyUp="Main.Index_UpdateControl(document);" onkeypress="Main.Index_UpdateControl(document);" onkeydown="Main.Index_UpdateControl(document);">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-laptop"></i>
                    </span>
                </div>
            </div>

            @if (Model.HistoryItems.Count >= 2)
            {
                <div class="field">
                    <label class="label">接続履歴:</label>
                    <div class="select">
                        <select asp-for="SelectedHistory" asp-items="Model.HistoryItems" class="input is-info" onChange="Main.Index_OnSelectedHistoryChange(document);"></select>
                    </div>
                </div>
            }

            <div class="field">
                <div class="control">
                    <button class="button is-link" style="font-weight: bold" type="submit" id="ok1"><i class="fas fa-laptop-house"></i>&nbsp;このコンピュータ ID にリモート接続</button>&nbsp;&nbsp;
                    @if (Model.HistoryItems.Count >= 2)
                    {
                        <button class="button is-info is-light" style="font-weight: bold" type="button" onclick="Main.Index_DeleteAllHistory(document);"><i class="far fa-trash-alt"></i>&nbsp;接続履歴を消去</button><text>&nbsp;&nbsp;</text>
                    }
                    <a class="button is-danger is-light" style="font-weight: bold" href="#wol"><i class="fas fa-power-off"></i>&nbsp;Wake on LAN 機能</a>&nbsp;&nbsp;
                </div>
            </div>

            <div class="notification is-warning is-light" id="ie_warning" hidden>
                <i class="fab fa-internet-explorer"></i> <strong>ご注意: この Web ブラウザは、Internet Explorer です。</strong><br>Internet Explorer では本システムは動作はするものの、動作速度が低速であり、描画が不安定になったり、画面の一部が表示されなかったりする不具合が発生する場合があります。<br><strong><a href="https://www.microsoft.com/edge/" target="_blank">Microsoft Edge</a></strong>、<strong><a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a></strong> または <strong><a href="https://www.mozilla.org/" target="_blank">Mozilla Firefox</a></strong> の利用をお勧めします。
            </div>

            <p> </p>

            <img src="~/images/top.jpg" width="900" height="244" />

            <hr>

            <div class="field">
                <label class="label">詳細オプション:</label>
            </div>

            <p>以下は、特に必要がある場合のみ変更してください。</p>

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableAudio" id="EnableAudio"><label for="EnableAudio"><strong>オーディオを有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableWallPaper" id="EnableWallPaper"><label for="EnableWallPaper"><strong>Windows の壁紙を有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableTheming" id="EnableTheming"><label for="EnableTheming"><strong>Windows の視覚テーマを有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableFontSmoothing" id="EnableFontSmoothing"><label for="EnableFontSmoothing"><strong>フォントのスムージングを有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableFullWindowDrag" id="EnableFullWindowDrag"><label for="EnableFullWindowDrag"><strong>ウインドウの内容を表示したままのドラッグを有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableDesktopComposition" id="EnableDesktopComposition"><label for="EnableDesktopComposition"><strong>デスクトップ効果を有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableMenuAnimations" id="EnableMenuAnimations"><label for="EnableMenuAnimations"><strong>メニューのアニメーションを有効化</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ShowLocalMouseCursor" id="ShowLocalMouseCursor"><label for="ShowLocalMouseCursor"><strong>ローカルのマウスカーソルを描画</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ShowRemoteMouseCursor" id="ShowRemoteMouseCursor"><label for="ShowRemoteMouseCursor"><strong>リモートのマウスカーソルを描画</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenAutoFullScreen" id="ScreenAutoFullScreen" onchange="Main.Index_UpdateControl(document);"><label for="ScreenAutoFullScreen"><strong>リモート接続時に自動的にフルスクリーンにする</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenAutoResize" id="ScreenAutoResize" onchange="Main.Index_UpdateControl(document);"><label for="ScreenAutoResize"><strong>リモート画面の解像度をブラウザのウインドウサイズに応じてダイナミックに変更 (変更できない場合は自動スケーリング)</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.ScreenGetAutoSize" id="ScreenGetAutoSize" onchange="Main.Index_UpdateControl(document);"><label for="ScreenGetAutoSize"><strong>リモート画面解像度をこのコンピュータのフルスクリーン画面解像度に自動設定 (システムモードのみ)</strong></label>
                        </p>
                    </div>
                </div>
            </div>

            <p> </p>

            <div class="field">
                <label class="label">カスタム画面解像度 (横: ピクセル数)</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="画面解像度 (横幅: ピクセル数) を指定します。" asp-for="CurrentProfile.Preference.ScreenWidth">
                    <span class="icon is-small is-left">
                        <i class="fas fa-text-width"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">カスタム画面解像度 (縦: ピクセル数)</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="画面解像度 (横幅: ピクセル数) を指定します。" asp-for="CurrentProfile.Preference.ScreenHeight">
                    <span class="icon is-small is-left">
                        <i class="fas fa-text-height"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">キーボードレイアウトの選択:</label>
                <div class="control">
                    <select asp-for="CurrentProfile.Preference.KeyboardLayoutStr" asp-items="Model.KeyboardLayoutItems" class="input is-info"></select>
                </div>
            </div>

            @*<div class="field">
            <label class="label">画面サイズ変更方式の選択:</label>
            <div class="control">
                <select asp-for="CurrentProfile.Preference.ResizeMethodStr" asp-items="Model.ResizeMethodItems" class="input is-info"></select>
            </div>
        </div>*@

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Win_ShiftWin" id="Win_ShiftWin"><label for="Win_ShiftWin"><strong>「左 Shift + Windows」 (Mac: 「左 Shift + ⌘Command」) キーを押すことで、リモートの「Windows」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Win_Ctrl2Alt2" id="Win_Ctrl2Alt2"><label for="Win_Ctrl2Alt2"><strong>「右 Ctrl + 右 Alt」 キーを押すことで、リモートの「Windows」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Tab_AltShift" id="Tab_AltShift"><label for="Tab_AltShift"><strong>「左 Alt + 左 Shift」 キーを押すことで、リモートの「Alt + Tab」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlAltEnd" id="Cad_CtrlAltEnd"><label for="Cad_CtrlAltEnd"><strong>「左 Ctrl + 左 Alt + End」 (Mac: 「Ctrl + Option + End」) キーを押すことで、リモートの「Ctrl + Alt + Del」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlAltHome" id="Cad_CtrlAltHome"><label for="Cad_CtrlAltHome"><strong>「左 Ctrl + 左 Alt + Home」 (Mac: 「Ctrl + Option + Home」) キーを押すことで、リモートの「Ctrl + Alt + Del」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlAltBackspace" id="Cad_CtrlAltBackspace"><label for="Cad_CtrlAltBackspace"><strong>「左 Ctrl + 左 Alt + Backspace」 (Mac: 「Ctrl + Option + Backspace」) キーを押すことで、リモートの「Ctrl + Alt + Del」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Cad_CtrlShiftBackspace" id="Cad_CtrlShiftBackspace"><label for="Cad_CtrlShiftBackspace"><strong>「左 Ctrl + 左 Shift + Backspace」 キーを押すことで、リモートの「Ctrl + Alt + Del」キーを押下いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_LeftCtrlSpace" id="Ime_LeftCtrlSpace"><label for="Ime_LeftCtrlSpace"><strong>「左 Ctrl + Space」キーを押すことで、リモートの IME (日本語入力) を ON/OFF いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_LeftShiftSpace" id="Ime_LeftShiftSpace"><label for="Ime_LeftShiftSpace"><strong>「左 Shift + Space」キーを押すことで、リモートの IME (日本語入力) を ON/OFF いたします。</strong></label>
                        </p>
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.Ime_OptionSpace" id="Ime_OptionSpace"><label for="Ime_OptionSpace"><strong>「Option + Space」キー (Mac のみ) を押すことで、リモートの IME (日本語入力) を ON/OFF いたします。</strong></label>
                        </p>
                    </div>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <label class="label">Windows ユーザー名 (RDP 自動ログオン) (オプション):</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="NLA 認証を使用する場合は Windows のユーザー名を指定します。" asp-for="CurrentProfile.Preference.Username">
                    <span class="icon is-small is-left">
                        <i class="far fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Windows パスワード (RDP 自動ログオン) (オプション):</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="password" placeholder="NLA 認証を使用する場合は Windows のパスワードを指定します。" asp-for="CurrentProfile.Preference.Password" autocomplete="new-password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Windows ドメイン名 (RDP 自動ログオン) (オプション):</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="NLA 認証を使用する場合は Windows のドメイン名を指定します。" asp-for="CurrentProfile.Preference.Domain">
                    <span class="icon is-small is-left">
                        <i class="fas fa-server"></i>
                    </span>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <label class="label">仮想 MAC アドレス (オプション):</label>
                <p>HTML5 版クライアントは、Web ブラウザのセキュリティ制限により、MAC アドレスを取得できません。<br>サーバー側でクライアント MAC アドレス認証が有効な場合、代わりに仮想 MAC アドレスを手動で指定してください。</p>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="例: 00-11-22-33-44-55 (ハイフンやコロンは省略できます)" asp-for="CurrentProfile.Preference.MacAddress">
                    <span class="icon is-small is-left">
                        <i class="fas fa-server"></i>
                    </span>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <div class="control">
                    <button class="button is-link" style="font-weight: bold" type="submit" id="ok2"><i class="fas fa-laptop-house"></i>&nbsp;このコンピュータ ID にリモート接続</button>
                </div>
            </div>

            <p>　</p>

            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <p>
                            <input type="checkbox" class="switch" asp-for="CurrentProfile.Preference.EnableDebug" id="EnableDebug"><label for="EnableDebug">デバッグモードを有効 (高度な技術者専用)</label>
                        </p>
                    </div>
                </div>
            </div>

            <p>　</p>

            <hr />

            <h2 class="title is-4" id="wol">Wake on LAN による接続先 PC の電源オン機能</h2>

            <img src="~/images/wol.jpg" width="660" height="226" />

            <p>　</p>

            <p><strong>Wake on LAN 機能を用いてターゲット PC の電源を ON にすることができます。</strong></p>

            <p>接続先シン・テレワークシステム サーバー側の設定で、あらかじめ Wake on LAN 機能が有効になっている必要があります。</p>

            <div class="field">
                <label class="label">(1) Wake on LAN ターゲット PC のコンピュータ ID:</label>
                <p>Wake on LAN ターゲット PC のコンピュータ ID は、<strong><a href="#top_pcid">このページ上部の接続先コンピュータ ID</a></strong> の欄で指定してください。</p>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link is-medium" type="text" id="WoLTargetPcid" style="font-weight: bold">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-laptop"></i>
                    </span>
                </div>
                <p>　</p>
                <label class="label">(2) Wake on LAN トリガー PC のコンピュータ ID:</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link is-medium" type="text" placeholder="トリガー PC のコンピュータ ID を指定してください" style="font-weight: bold" asp-for="CurrentProfile.Preference.WoLTriggerPcid" id="CurrentProfile_Preference_WoLTriggerPcid" onchange="Main.Index_UpdateControl(document);" onInput="Main.Index_UpdateControl(document);" onKeyUp="Main.Index_UpdateControl(document);" onkeypress="Main.Index_UpdateControl(document);" onkeydown="Main.Index_UpdateControl(document);">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-laptop"></i>
                    </span>
                </div>
            </div>

            <p>　</p>

            <div class="field">
                <div class="control">
                    <button class="button is-danger" style="font-weight: bold" type="submit" id="button_wol" name="button_wol" value="1"><i class="fas fa-power-off"></i>&nbsp;Wake on LAN を実行する</button>&nbsp;&nbsp;
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        Main.Index_Load(document, @Model.FocusToPcid._ToBoolStrLower(),
            "@Secure.JavaScriptEasyStrEncrypt(Model.CurrentProfile?.Preference?.Password ?? "", "easyEncryptStaticKey")",
            "@Model.WolErrorMessage._JavaScriptSafeStrEncode()",
            "@Model.WolOkMessage._JavaScriptSafeStrEncode()",
            @Model.JumpToWol._ToBoolStrLower()
        );
    </script>
}

