@model ThinWebClientModelRemote
@{
    Layout = "_Layout_Remote";
    Page.Title = $"\"{Model.ConnectOptions!.Pcid._MakeVerySafeAsciiOnlyNonSpaceFileName()}\"" + Page.Stb["THINWEB_REMOTE"];

    var profilePassToJavaScript = Model.Profile._CloneWithJson();
    if (profilePassToJavaScript != null && profilePassToJavaScript.Preference != null)
    {
        profilePassToJavaScript.Preference.Password = profilePassToJavaScript.Preference.Password._MaskPassword();
    }
}

<!-- Display -->
<div id="display"></div>

@section Scripts{

    <!-- Init -->
    <script>
        Main.ThinWebClient_Remote_PageLoad(window, document,
            "@Model.WebSocketUrl",
            "@Model.SessionId",
            "@Model.ConnectOptions.Pcid._JavaScriptSafeStrEncode()",
            "@Model.SvcType.ToString()",
            "@profilePassToJavaScript._ObjectToJson()._JavaScriptEasyStrEncrypt("easyJsonEncode")",
            "@Model.ConnectOptions.ConnectPacketData._JavaScriptSafeStrEncode()",
            "@Model.WatermarkStr1._JavaScriptSafeStrEncode()",
            "@Model.WatermarkStr2._JavaScriptSafeStrEncode()",
            "@Model.Misc._ObjectToJson()._JavaScriptSafeStrEncode()",
            "@Model.Misc2._ObjectToJson()._JavaScriptSafeStrEncode()",
        );
    </script>

}
