@model ThinWebClientModelRemote
@{
    Page.Title = $"\"{Model.ConnectOptions!.Pcid}\" のリモートデスクトップ";

    var profilePassToJavaScript = Model.Profile._CloneWithJson();
    if (profilePassToJavaScript != null && profilePassToJavaScript.Preference != null)
    {
        profilePassToJavaScript.Preference.Password = profilePassToJavaScript.Preference.Password._MaskPassword();
    }
}
<h2 class="title is-4">@Page.Title</h2>

<!-- Display -->
<div id="display"></div>

@section Scripts{

    <!-- Init -->
    <script>
        Main.ThinWebClient_Remote_PageLoad(window, document, "@Model.WebSocketUrl", "@Model.SessionId", "@Model.ConnectOptions.Pcid._JavaScriptSafeStrEncode()", "@Model.SvcType.ToString()", "@profilePassToJavaScript._ObjectToJson()._JavaScriptEasyStrEncrypt("easyJsonEncode")");
    </script>

}

<p>　</p>
<p>Use this page to detail your site's privacy policy.</p>
