@model ThinWebClientModelSessionAuthPassword
@{
    Page.Title = $"ユーザー認証 - \"{Model.ConnectOptions!.Pcid}\" への接続 (高度なユーザー認証)";
}
<h2 class="title is-4">@Page.Title</h2>

<div class="box">
    <div class="content">
        <form method="post">
            <input name="RequestId" type="hidden" value="@Model.RequestId">
            <input name="FormType" type="hidden" value="SessionAuthAdvanced">

            <p>接続先のテレワークサーバー '@Model.Profile!.Pcid' に接続するためには、「高度なユーザー認証」で設定されているユーザー名とパスワードが必要です。</p>
            <p>ユーザー名とパスワードを入力してください。</p>

            <div class="field">
                <label class="label">ユーザー名:</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" style="font-weight: bold" name="username" id="username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">パスワード:</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="password" style="font-weight: bold" name="password" id="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>


            <p>　</p>

            <div class="notification is-link is-light">
                <i class="fas fa-keyboard"></i> <a href="/ThinWebClient/help/" target="_blank"><b>リモート画面操作のヘルプ</b></a> に、画面のフルスクリーン化や、日本語入力の ON/OFF、Windows キー、Alt + Tab キー、Ctrl + Alt + Del キーなどの操作方法の説明があります。
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link" style="font-weight: bold" type="submit"><i class="fas fa-arrow-circle-right"></i>&nbsp;OK</button>
                    <a class="button is-info is-light" style="font-weight: bold" href="/?pcid=@Model.Profile.Pcid._MakeVerySafeAsciiOnlyNonSpaceFileName()"><i class="fas fa-times-circle"></i>&nbsp;キャンセル</a>
                </div>
            </div>

            <p>　</p>
            <p>　</p>

            <div class="notification is-primary is-light">
                <i class="fas fa-info-circle"></i> HTML5 版クライアントでは、証明書認証 (マイナンバーカード等を用いたスマートカード認証を含む) には対応していません。証明書認証を使用されている場合は、サーバー側のユーザーの設定をパスワード認証に変更してください。
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        Main.SessionAuthAdvanced_Load(document);
        Main.Common_StartSendHeartBeat("@Model.SessionId", "@Model.RequestId");
    </script>
}
