@model ThinWebClientModelSessionAuthPassword
@{
    Page.Title = Page.Stb["THINWEB_ADV_TITLE"]._FormatC(Model.ConnectOptions!.Pcid);
}
<h2 class="title is-4">@Page.Title</h2>

<div class="box">
    <div class="content">
        <form method="post">
            <input name="RequestId" type="hidden" value="@Model.RequestId">
            <input name="FormType" type="hidden" value="SessionAuthAdvanced">

            <p>@Page.Stb["THINWEB_ADV1"]._FormatC(Model.Profile!.Pcid)</p>
            <p><stb>THINWEB_ADV2</stb></p>

            <div class="field">
                <label class="label"><stb>THINWEB_ADV3</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" style="font-weight: bold" name="username" id="username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label"><stb>THINWEB_ADV4</stb></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="password" style="font-weight: bold" name="password" id="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>


            <p>　</p>

            <div class="notification is-link is-light">
                <i class="fas fa-keyboard"></i> <stb>THINWEB_ADV5</stb>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link" style="font-weight: bold" type="submit"><i class="fas fa-arrow-circle-right"></i>&nbsp;OK</button>
                    <a class="button is-info is-light" style="font-weight: bold" href="/?pcid=@Model.Profile.Pcid._MakeVerySafeAsciiOnlyNonSpaceFileName()"><i class="fas fa-times-circle"></i>&nbsp;<stb>THINWEB_ADV6</stb></a>
                </div>
            </div>

            <p>　</p>
            <p>　</p>

            <div class="notification is-primary is-light">
                <i class="fas fa-info-circle"></i> <stb>THINWEB_ADV7</stb>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        Main.SessionAuthAdvanced_Load(document);
        Main.Common_StartSendHeartBeat("@Model.SessionId", "@Model.RequestId");
    </script>
}
