@model ThinWebClientModelSessionAuthPassword
@{
    Page.Title = $"ユーザー認証 - \"{Model.ConnectOptions!.Pcid}\" への接続";
}
<h2 class="title is-4">@Page.Title</h2>

<div class="box">
    <form method="post">
        <input name="RequestId" type="hidden" value="@Model.RequestId">
        <input name="FormType" type="hidden" value="SessionAuthPassword">

        <div class="field">
            <label class="label">接続先コンピュータ ID:</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="text" style="font-weight: bold" asp-for="Profile!.Pcid">
                <span class="icon is-small is-left">
                    <i class="fas fa-laptop"></i>
                </span>
            </div>
        </div>

        <p>　</p>

        <p>接続先のテレワークサーバー '@Model.Profile!.Pcid' には、ユーザー認証のためにパスワードが設定されています。</p>
        <p>パスワードを入力してください。</p>

        <p>　</p>

        <div class="field">
            <label class="label">パスワード:</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="password" style="font-weight: bold" name="password" id="password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>


        <p>　</p>

        <div class="notification is-link is-light">
            <i class="fas fa-keyboard"></i> <a href="/help/" target="_blank"><b>リモート画面操作のヘルプ</b></a> に、画面のフルスクリーン化や、日本語入力の ON/OFF、Windows キー、Alt + Tab キー、Ctrl + Alt + Del キーなどの操作方法の説明があります。
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" style="font-weight: bold" type="submit"><i class="fas fa-arrow-circle-right"></i>&nbsp;OK</button>
                <a class="button is-info is-light" style="font-weight: bold" href="/?id=@Model.Profile.Pcid._MakeVerySafeAsciiOnlyNonSpaceFileName()"><i class="fas fa-times-circle"></i>&nbsp;キャンセル</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        Main.SessionAuthPassword_Load(document);
        Main.Common_StartSendHeartBeat("@Model.SessionId", "@Model.RequestId");
    </script>
}
